* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-container {
    width: 600px;
    margin: 30px auto;
}
.items {
    display: flex;
}
.item {
    border: 1px solid black;
    border-radius: 30px;
    padding: 20px;
    /* width: 600px; */
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}
.fas:hover {
    background-color: lightgreen;
    cursor: pointer;
}